*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;

}
.all{
  background-image: url(bg.png);
  background-size: cover;
}
.contact-section{
  height: 700px;
  background-size: cover;
  padding: 40px 0;
}
.contact-section h1{
  text-align: center;
  color: #ddd;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}
.navbar{
  width: 95%;
  height: 10%;
  max-height: 20%;
  margin: auto;
  padding:  20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 120px;
  cursor: pointer;
  margin-left: 0px;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s
}
.navbar ul li:hover:after{
  width: 100%;
}

.footer{
  height: 100px;
  background-color: black;  
  color: #fff;
  margin-bottom: 0px; 
  bottom: 0;
}

.footer-info{
  margin: auto;
  width: 700px;
  height: 100px;   
  background-color: black;
}
.text-footer{
  padding: 30px;
  justify-content: space-between;
  text-align: center;
  max-width: inherit;
  max-height: 40px;
  background-color: black;
  color:white;
}
